body{
        margin: 0px;
        background-color: burlywood;
}
h1{
        font-family: cursive;
        width: 550px;
        border-right: 1px solid;
        border-bottom: 1px solid;
        box-shadow: 4px 5px brown;
}
.imagery{
        display: grid;
        grid-template-columns: repeat(auto-fill) minmax(200px 1fr);
        grid-template-rows: 1fr;
}
img{
        width: 400px;
        height: 300px;
        margin: 1px;
        transition: all 2s;
}
img:hover{
        transform: rotate(20deg);
}